@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: 'Inconsolata', monospace;
font-family: 'Noto Serif', serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*--------------HEADER------------------*/
container-fluid a{
    font-size: 40px;
}
.navbar-brand{
    margin-left: 10px;
    font-size: 40px;
    font-style: italic;
    font-weight: 500px;
    font-family: 'Passion One', cursive;
}
.navbar-brand:hover{
    transform: scale(1.5);
    transition: 1.0s ease-out; 
}
.nav-link{
    font-family: 'Noto Serif', serif;
    padding: 5px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 8px 8px 8px 8px;
    transition: 1.0s ease-out;
}
.nav-link:hover{
    font-size: 20px;
    background-color:#7A6D48 ;
    transform: scale(1.2);
    border-radius: 5px;
}

/*--------------MAIN------------------*/
main{
    background-color: #7A6D48;
}
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url("../img/gourmet-chef.jpg");
    width: 100%;
    height:calc(100vh - 70px );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero div{
    color: white;
    border: 5px solid white;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero div h2{
    font-size: 80px;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    margin: 15px 15px 15px 15px;
}
.hero div h3 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Noto Serif', serif; 
    text-align: center;
}
.info h2{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Noto Serif', serif; 
    background-color: #594f33;
    padding-top: 15px;
    padding-bottom: 15px;
}
.info h3{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Noto Serif', serif;
    background-color: #594f33;
    padding-top: 15px;
    padding-bottom: 15px;
}

.subtitulo{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Noto Serif', serif; 
    background-color: #594f33;
    padding-top: 15px;
    padding-bottom: 15px;
}


.intro{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    font-family: 'Noto Serif', serif; 
}
.intro p{
    width: 300px;
    height: 400px;
    margin: 20px;
}
.info div img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.433);
}  

/*Fotos*/
.grid-fotos{
    width: 100%;
    padding: 5px 10px 5px 10px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
}
.grid-fotos div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.433);
}
.pizza{
    grid-column: span 2;
}
.crosaint{
    grid-row: span 2;
}
.grid-item{
    position: relative;
}
.grid-item h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #594f335c;
    width: 100%;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

/* pagina-recetas*/
.recetasf{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.recetasf div{
    text-align: center;
    background-color: #594f33;
    margin: 15px;
    border: 2px solid black;
    width: 300px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.581);
    -webkit-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.258);
    -moz-box-shadow:10px 10px 27px -4px rgba(0, 0, 0, 0.258);
    transition: 0.5s;
}

.recetasf div img{
    width: 100%;
    height: 280px;
    box-sizing: border-box;
}
.recetasf h3{
    color: black;
    font-size: 30px;
    font-family: 'Noto Serif', serif; 
}
.recetasf div a{
    text-decoration:none;
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    color: black;
    transition: 0.5s ease-out;
}
.recetasf div:hover{
    transform: scale(1.2);
    box-shadow: 15px 8px 8px rgba(0, 0, 0, 0.433);
}
.recetasf div a:hover{
    font-size: 20px; 
}
/*pagina-contacto*/
.grid-contacto{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    font-family: 'Noto Serif', serif; 
}
.parrafo{
    grid-column: span 2;
}
.parrafo{
    width: 100%;
    height: 300px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo{
    font-size: 25px;
    color: black;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
.formulario{
    grid-column: span 1;
}
.formulario{
    background-color: rgb(194, 194, 194);
    width: 400px;
    height: 300px;
    margin: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.formulario h2{
    text-align: center;
}
.formulario input{
    width: 100%;
    height: 25px;
    border-radius: 3px;
    margin: 5px;
}
.formulario textarea{
    width: 100%;
    border-radius: 3px;
    margin: 5px;
    min-height: 80px;
    max-height:150;
}
/*Acerca de*/
.sobreMi{
    width: 100%;
    height: 300px;
}
.sobreMi p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Noto Serif', serif; 
}
.grid-galeria{
    width: 100%;
    display: grid;
    padding-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 15px;
}
.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chef{
    grid-row: 2 span;
}
.cocina{
    grid-row: 2 span;
}
.pasta{
    grid-row: 2 span;
}
/*Ubicacion*/
.ubicacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
}
.col-lg-8{
    font-size: 25px;
    width: 450px;
    height: 400px;
    margin-left: 10px;
}
.col-lg-4 h2{
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}
.col-lg-4 iframe{
    width: 600px;
    height: 450px;
    margin-right: 20px;
}
.slide img{
    height: 65vh;
}
/*--------------FOOTER------------------*/

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #594f33;
    padding: 70px 0;
}
.footer-col{
    width: 25%
    /* padding: 0 15px; */
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:#7A6D48;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #594f33;
	background-color: #ffffff;
}
.footer p{
    text-align: center;
    color: white;
}
/*--------------FOOTER------------------*/







/*--------------recetas------------------*/
.segundo__h2{
    color: white;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif; 
    border: 2px solid white;
    padding: 10px 5px 10px 5px;
}
.img {
    width: 100%;
    height: 250px;
}

.card div a{
    text-decoration: none;
    text-decoration: dotted;
    background-color: black;
    color: white;
    padding: 4px 5px 4px 5px ;
}
.card div a{
    margin: 10px;
}
/*Responsive*/
/*MAIN*/

@media screen and (max-width: 970px) {
    .intro{
        flex-direction: column;
    }
    .intro p, img{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width:680px){
    .hero div h2{
        font-size: 50px;
        text-align: center;
    }
    .hero div h3{
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (max-width:750px){
    .segundo__h2{
        font-size: 50px;
        text-align: center;
    }
}
/*Media Querie grid fotos*/
@media screen and (max-width: 920px) {
    .grid-fotos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 280px;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}
@media screen and (max-width: 450px) {
    .grid-fotos{
        grid-template-columns: 1fr;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}
/*footer*/

@media screen and (max-width: 920px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 450px){
    .footer-col{
    width: 100%;
}
}

/*contacto*/
@media screen and (max-width: 920px) {
    .grid-contacto{
        grid-template-columns: repeat ( 2, 1fr) ;
        grid-template-rows: 400px;
    }
    .grid-contacto{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-dos{
        grid-column: span 1;
        grid-row: span 1;
    }
}
@media screen and (max-width: 450px){
    .grid-contacto{
        grid-template-columns: 1fr;
    }
    .grid-contacto{
        flex-direction: column;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}

/*acerca de*/
@media screen and (max-width: 920px) {
    .grid-galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px;
    }
    .pasta{
        grid-column: span 2;
    }
}
@media screen and (max-width: 450px) {
    .grid-galeria{
        grid-template-columns: 1fr;
    }
    .grid-tres{
        grid-column: span 1;
        grid-row: span 1;
    }
    .sobreMi p{
        height: 100%;
    }
}

/*Ubicacion*/

@media screen and (max-width: 890px){
    .col-lg-8{
        font-size: 20px;
        width: 350px;
        height: 280px;
        margin-left: 10px;
    }
    .col-lg-4 iframe{
        width: 250px;
        height: 200px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 450px){
    .container fluid{
        flex-direction: column;
    }
    .col-lg-8{
        font-size: 20px;
        width: 300px;
        height: 250px;
        margin-left: 10px;
    }
    .col-lg-4 iframe{
        width: 300px;
        height: 250px;
        margin-right: 20px;
    }
}