/*--PALETA DE COLORES--*/

/*--HEADER--*/
$beage-dark: #594f33;

/*--MAIN--*/
$txt-black: black;
$txt-white: white;
$beage-light: #998a63;
$beage-dark: #594f33;
$gradien-black: rgba(0, 0, 0, 0.433);
$gradien-black-light: rgba(0, 0, 0, 0.258);
$color-fotos: #594f335c;


/*--FOOTER--*/
$color-fuchsia:#e91e63;
$beage-icon: #7A6D48;
$color-icon: #594f33;
$txt-white: white;
